.container {
  /* background-color: cadetblue; */
  width: 100vw;
  display: flex;
  /* border: 2px solid red; */
}
.accounts {
  color: black;
  font-size: 24px;
  text-decoration: underline;
}
.user {
  color: white;
  margin-right: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 15vw;
  height: 15vh;
  background-color: rgb(12, 64, 66);
  border: 2px black solid;
}
.addUser {
  display: flex;
  color: white;
  width: 20vw;
  height: 20vh;
  border: 2px black solid;
  background-color: rgb(12, 64, 66);
  margin: 0px 10px;
}
.findAccount {
  color: white;
  margin: 2vh 0vh;
  width: 10vw;
  height: 10vh;
  background-color: rgb(87, 179, 182);
  border: 2px black solid;
}
